%form#contactform{:action => "{{contents.customer_messages.public_submission_url}}", :method => "post", :name => "contact"}
  {% csrf_param %}
  %input#name{:name => "content[name]", :value => "{{customer_message.name}}", :placeholder => "Il tuo nome..", :required => "", :tabindex => "1", :type => "text"}/
  %input#email{:name => "content[email]", :value => "{{customer_message.email}}", :placeholder => "La tua email..", :required => "", :tabindex => "2", :type => "text"}/
  %textarea#comment{:name => "content[message]", :placeholder => "Scrivici qui..", :required => "", :rows => "3", :tabindex => "3"}
    {{customer_message.message}}
  %input.btn.btn-sm{:name => "submit", :tabindex => "4", :type => "submit", :value => "Invio"}/   
  
:javascript
  $(document).ready(function() {
   var form = $('form[name=contact]');
        
   form.ajaxForm(function() { 
                alert("Thank you for your comment!"); 
            }); 
  });            
