%footer#footer
  .container  
    .row.sections
    
      .col-sm-4.recent_posts
        %h4.footer_header
          Chi Siamo
          
 
        .post
          
          {% capture _img %}https://s3-eu-west-1.amazonaws.com/damp-bush-2381/people/{{ i | plus:2 }}.png{% endcapture %}
          %img.img-circle{:src => "{{ _img }}"}
          .title
            %a{:href => "http://www.helloskt.com"} Helloskt 
            fornisce servizi per facilitare le comunicazioni personali, integrando nella propria infrastruttura servizi evoluti di telefonia ed
            offrendo al consumatore prodotti competitivi, di qualità, e personalizzati alle esigenze del cliente.
            Siamo specialisti nell'offrire servizi telefonici internazionali per chiamare e scambiare denaro da cellulare su oltre 200 operatori mobili nel mondo.
 
        
      .col-sm-4.testimonials
        //%h4.footer_header
        //  Testimonials
        //.wrapper          
        //  .quote
        //    %span “
        //    There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
        //    %span
        //  .author
        //    %img{:src => "{{ 'https://s3-eu-west-1.amazonaws.com/damp-bush-2381/people/1.png' }}"}/
        //    .name Just When I Thought
        //    .info
        //      Holy Cannoli
        //  //%a(href="people") Read more
              
      .col-sm-4.contact
        %h4.footer_header
          Scrivici
        {% include contact_form %}
        
    {% include credits %}


