@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

.step p {
    line-height: 1em;
}

.jms-content {
    margin: 0;
    
}

section {
    padding-top: 180px;
}

#footer .credits {
   border-top: none;
}

#footer .credits .copyright  {
  text-align: left;
}      

.navbar ul.navbar-nav {
    margin-top: -10px;
}

.navbar-fixed-top {
    height: 120px;
}

h2 small {
    color: #e06f02;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    font-family: 'Share Tech Mono', !important;
    line-height: 1em;
}

h2 small a.jms-link {
    margin-top: 0;
}
                 
body {
    /*color: #e06f02;*/
}

#nprogress .bar {
  
    background: #f7bf8a;
    top: 116px;
 }
 
#contactform .btn {
    background-color: #e06f02;
    border-color: #141414;
    color: #fff;
}

#contactform .btn:hover {
    background-color: #f79a40;
    border-color: #141414;
    color: #fff;
    
}
#footer .recent_posts .post .title {
    line-height: 1.2em;
}

#footer .testimonials .quote {
    font-size: 14px;
    line-height: 1.2em;
}


#footer .contact input[type="text"], #footer .contact textarea {
    background-color: #e06f02;
    color: #fff;
}

#footer .contact input[type="text"]:focus, #footer .contact textarea:focus {
    background-color: #f79a40;
}

#footer {
    background-color: #1c1c1c;
}

#footer a {
    color: #e06f02;
}

#footer a:hover, a:active {
    color: #f79a40;
}

.navbar-default {
    background-color: #e06f02;
    border-color: #f79a40;
}

.nav.navbar-nav h6 {
    font-size: 21px;
    width: 413px;
    text-align: center;
}
h2 {
    color: #212121;
}

.navbar-nav h6  {
    color: #FFF;
    text-shadow: 0 2px 1px #000;
}

.navbar-header img {
    height: 120px;
}
.navbar-header .navbar-brand {
    font-size: 45px;
}
.navbar .container .navbar-header .navbar-brand {
    margin-top: -35px;
}

.navbar .container .navbar-header .navbar-brand img {
    top: 7px;
}

.navbar ul.navbar-nav {
    margin-top: -40px;
}

.navbar-nav h6, #features .subtitle h2, #footer .footer_header, #map h3, .navbar-brand, a.jms-link, section .subtitle h2 {
 font-family: 'Gloria Hallelujah', cursive !important;
 
 
} 

#features .feature .info h4 {

 font-family: 'Share Tech Mono', !important;;
 
}

#features .option2 .feature {
    border-bottom: none;
    margin-bottom: 65px;
    min-height: 300px;
}
