---
title: Page not found
published: true
---
{% extends index %}

{% block 'main' %} 
.container
  %section 
    .page-header        
      .row
        .col-lg-12        
          %h1 Page not found.
          %p.lead 
            The page you requested cannot be found. Click
            %a(href="/") here
            to go back to the index page.
{% endblock %}