---
title: Index
published: true
---
!!!
%html{lang: "en"}                    

  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}
    %meta{charset: "utf-8"}                      
    %title {{ page.title | escape }} - {{ site.name | escape }}
    %meta{content: "{{ site.name | escape }}", name: "generator"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}  
                           
    %link{rel: "shortcut icon", href: "https://s3-eu-west-1.amazonaws.com/bold-voice-8329/favicons/favicon.png"}             
    %link{rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "https://s3-eu-west-1.amazonaws.com/bold-voice-8329/favicons/apple-touch-icon-144x144-precomposed.png"}
    %link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "https://s3-eu-west-1.amazonaws.com/bold-voice-8329/favicons/apple-touch-icon-114x114-precomposed.png"}
    %link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "https://s3-eu-west-1.amazonaws.com/bold-voice-8329/favicons/apple-touch-icon-72x72-precomposed.png"}
    %link{rel: "apple-touch-icon-precomposed", href: "https://s3-eu-west-1.amazonaws.com/bold-voice-8329/favicons/apple-touch-icon-precomposed.png"}
    
    %link(type="text/css" rel="stylesheet" media="screen" href="https://s3-eu-west-1.amazonaws.com/bold-voice-8329/css/bootswatch-flatly.css")
    %link(type="text/css" rel="stylesheet" media="screen" href="https://s3-eu-west-1.amazonaws.com/bold-voice-8329/css/flat-ui.css")
    %link(type="text/css" rel="stylesheet" media="screen" href="https://s3-eu-west-1.amazonaws.com/bold-voice-8329/css/flat-ui-2.css")
    %link(type="text/css" rel="stylesheet" media="screen" href="https://s3-eu-west-1.amazonaws.com/bold-voice-8329/css/flat-ui-2-theme.css")
                                                                                                        
    
    %script(src="//s3-eu-west-1.amazonaws.com/bold-voice-8329/js/modernizr.custom.84254.js")              
    %script(src="//s3-eu-west-1.amazonaws.com/bold-voice-8329/js/jquery-2.0.3.min.js")
    %script(src="//s3-eu-west-1.amazonaws.com/bold-voice-8329/js/jquery-ui-1.10.3.min.js")
    {{ 'jquery.form.js' | javascript_tag }}
    
    {% block css %}
    {{ 'telefree' | stylesheet_tag }}    
    {% endblock %}     
    
    /[if lt IE 9]
      
    {% inline_editor %}  
        
  %body{:class => "{{ page.slug }}"}    
          
    .navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container 

        .row

   
        .row  

                
          .navbar-header
            %a.navbar-brand{:href => "#"} 
              
              %img{:src => "{{ 'logo.png' | theme_image_url }}"}               
              {{ site.name | capitalize }}
              //%br
              //by Helloskt.com
                            
          .navbar
            
            %ul.nav.navbar-nav.navbar-right
            
              
              
              %h6 Iniza subito a risparmiare! Scarica l'app Telefree gratuitamente dal tuo store:
              
              %a(href="https://itunes.apple.com/us/app/telefree-dialer/id607913192?ls=1&mt=8")
                %img(alt="Get it on iTunes" src="/images/AppStore.png")
              %a(href="https://play.google.com/store/search?q=pub:SKT SRL")
                %img(alt="Get it on Google Play" src="/images/it_generic_rgb_wo_45.png")  
              %a(href="https://s3-eu-west-1.amazonaws.com/telefree-16072014/telefree.jad")
                %img(alt="Get it for Blackberry" src="/images/BB-World_Get-It_BLK-Box.png")   
        
    {% block main %}     
    
    %section#features      
      .container     
        

        .row
          .subtitle
            %h2 
              Chiama con TeleFree!     
              %br
              %small Dall'Italia verso il resto del mondo a tariffe super competitive rispetto a quelle del tuo operatore mobile!
              
        .row(style="height: 540px; margin-bottom: 60px;")                                            
          %iframe(id="ytplayer" type="text/html" width="960" height="100%" frameborder="0" src="http://www.youtube.com/embed/WOwaDNfWezw?autoplay=1&origin=http://www.telefree.biz")
            
        .row.option2
          .subtitle
            %h2 Come fare..
             
            {% for f in contents.instructions %}           
              
            {% capture _pos %}{% cycle 'one', 'two', 'three' %}{% endcapture %}
            .col-sm-4
              .box
                %img{:src => "{{ f.ico.url }}", :class => "{{_pos}}"} 
              .text
                %h3 {{ f.name }}
                %p {{ f.body }}
                  
            {% endfor %}      
            
        .row.option1    
                              
          .subtitle
            %h2 Il tuo Acount..
            
          .row.feature(style="border-bottom:none;")
            
            .col-sm-6.pic-right
              %img.img-responsive{:src => "https://s3-eu-west-1.amazonaws.com/damp-bush-2381/features/features-1.png"}
            .col-sm-6.info.info-left
              %h4
                Accedi online
              %p
                Sei già cliente del servizio Telefree? 
                %a(href="http://37.59.1.175/billing") Clicca qui
                per accedere al tuo account online.

            
              
        .row.option1    
                              
          .subtitle
            %h2 Telefonare non è mai stato così semplice! 
            
          {% for f in contents.features %}
          
          .row.feature  
            {% capture _cycle %}{% cycle 'odd', 'even' %}{% endcapture %} 
            {% if  _cycle == 'even' %}
            .col-sm-6
              %img.img-responsive{:src => "{{ f.img.url }}"}
            .col-sm-6.info
              %h4
                %img{:src => "{{ f.ico.url }}"}
                {{ f.name }}
              %p
                {{ f.body }}              
            {% else %} 
            .col-sm-6.pic-right
              %img.img-responsive{:src => "{{ f.img.url }}"}
            .col-sm-6.info.info-left
              %h4
                %img{:src => "{{ f.ico.url }}"}
                {{ f.name }}
              %p
                {{ f.body }}               
            {% endif %}                                         
          
          {% endfor %}  
                  
    {% include 'index-footer' %}  
    {% endblock %}

    %script(src="//s3-eu-west-1.amazonaws.com/bold-voice-8329/js/bootstrap.min.js")
    %script(src="//s3-eu-west-1.amazonaws.com/bold-voice-8329/js/flat-ui.min.js")
    %script(src="//s3-eu-west-1.amazonaws.com/bold-voice-8329/js/flat-ui-2.min.js")
    %script(src="//s3-eu-west-1.amazonaws.com/bold-voice-8329/js/flat-ui-2-theme.min.js")
    
    :javascript
      
      $(document).ready(function() {});
